 
# IntelliJ - User specific stuff
**/.idea/
*.iml
*.iws
*.ipr

# Gradle specific stuff
**/.gradle/
**/build/

# IntelliJ
**/out/

# Java specific stuff
*.class

# Logfile
*.log

# Package files
*.jar
*.zip
*.tar.gz
*.rar
*.7z

# Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar

# VisualParadigm specific stuff
**/*.bak_*

